/* ESTILO GERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    background-color: rgb(0, 151, 189);
    height: 100vh;
}

.interface {
    max-width: 1600px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #00ff00;
}

/* Botões */
.btn-contato button {
    padding: 10PX 40PX;
    font-size: 18PX;
    font-weight: 600;
    background-color: #00ff00;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    background-color: #00ff00;
    font-size: 25px;
    cursor: pointer;
    margin: 0 8px;
    transition: .2s;
}

button:hover,
form .btn-enviar input:hover,
footer .btn-social button:hover {
    box-shadow: 0px 0px 10px #00ff00;
    transform: scale(1.10);
}

/* CABEÇALHO */

header {
    padding: 40px 4%;

}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #ffffff77;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

/* (:hover) usando para mudar aspectos de um determinado comando quando o curosr passar */

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.30);
}

header nav.menu-desktop ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO MENU MOBILE */

.btn-abrir-menu i{
    color: #00ff00;
    font-size: 45PX;
    cursor: pointer;
}

.btn-fechar{
    padding: 20px 4%;
}

.btn-fechar i{
    color: #00ff00;
    font-size: 30px;
}

.menu-mobile{
    background-color: rgba(0, 0, 0, 0.911);
    height: 100vh ;
    position: fixed;
    top: 0;
    right: 0;
    width: 0%;
    overflow: hidden;
    z-index: 10000;

    transition: .5s;
}

.menu-mobile.abrir-menu{
    width: 70%;
}

.menu-mobile.abrir-menu ~ .overlay-menu-mobile{
    display: block;
}

.menu-mobile nav ul{
    text-align: right;
    list-style: none;
}

.menu-mobile nav ul li a{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 10%;
    display: block;
}

.menu-mobile nav ul li a:hover{
    background-color: #00ff00;
    color: #000;
    font-weight: 400;
}

.overlay-menu-mobile{
    background-color: #00000081;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    display: none;
}

/* CORPO DO SITE */

.topo-do-site {
    padding: 40px 4%;
}

.topo-do-site .container-flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

/* A propriedade CSS gap define os espaços (gutters (en-US)) entre as linhas e colunas.*/

.topo-do-site .txt-topo-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #00ff00;
    font-size: 48px;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: img_flutuante 2s ease-in-out infinite alternate;
}

@keyframes img_flutuante {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/* Estilo das Especialidades */

section.especialidades {
    padding: 40px 4%;
}

section.especialidades .container-flex {
    gap: 60px;
}

.especialidades .container-especialidades {
    color: #fff;
    padding: 40px;
    border-radius: 25px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .container-especialidades:hover {
    transform: scale(1.05);
    border: none;
    box-shadow: 0 0 8px #ffffffab;
}

.especialidades .container-especialidades i {
    font-size: 70px;
    color: #00ff00;
}

.especialidades .container-especialidades h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* Estilo das Sobre */

section.sobre {
    padding: 80px 4%;
}

section.sobre .container-flex {
    align-items: center;
    gap: 60px;
}

section.sobre .txt-sobre {
    color: #fff;
}

section.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

section.sobre .txt-sobre h2 span {
    color: #00ff00;
}

section.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

/* SECTION PORTIFOLIO */

section.portifolio {
    padding: 80px 4%;
    box-shadow: 0 0 30px 10px #ffffff1f;
}

section.portifolio .interface .container-flex {
    justify-content: space-around;
    margin-top: 80px;
}

.container-img-port {
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    cursor: pointer;
    border-radius: 40px;

    transition: 8s;
    position: relative;

}

.container-img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    font-size: 24px;
    font-weight: 600;

    opacity: 0%;
    transition: .5s;
}

.overlay:hover {
    opacity: 100%;
}

/*  SECTION FORMULARIO */

section.formulario {
    padding: 80px 4%;
}

section.formulario form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    margin-top: 40px;
    margin: 0 auto;
    gap: 15px;
}

section.formulario form input,
form textarea {
    padding: 20px 15px;
    width: 100%;
    background-color: #3838384b;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 18px;
    outline: none;
}

section.formulario form textarea {
    resize: none;
    height: 200px;
    max-height: 600px;
}

section.formulario form .btn-enviar {
    margin-top: 20px;
    text-align: center;

}

section.formulario form .btn-enviar input {
    cursor: pointer;
    color: #000;
    font-weight: 600;
    background-color: #00ff00;

    transition: .2s;
}

/* ESTILIZAÇÃO FOOTER */
footer {
    padding: 40px 4%;
    box-shadow: 0 0 30px 10px #ffffff1f;
}

footer .container-flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

footer .linha {
    border-top: 2px #00ff00;
}

footer .line-footer p {
    color: #00ff00;
    gap: 15px;
}

footer .line-footer p i {
    font-size: 20px;
    padding: 10px;
}

footer .line-footer p i a {
    color: #ffffff;
    text-decoration: none;
}

footer .line-footer p i a:hover {
    color: #00ff00;
}

@media screen and (max-width: 1020px) {

    /* classes gerais */
    .container-flex {
        flex-direction: column;
    }

    h2.titulo {
        font-size: 30px;
        line-height: 34px;
    }


    .topo-do-site .container-flex {
        flex-direction: column-reverse;
    }

    /* menu */
    .btn-abrir-menu{
        display: block;
    }

    /* cabeçalho */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* too do site */
    .topo-do-site .txt-topo-site h1 {
        font-size: 30px;
    }

    .topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    .topo-do-site .container-flex {
        gap: 35px;
    }

    /* sectio especialidades */
    section .especialidades {
        padding: 40px 8%;
    }

    /* Estilo das Sobre */

    section.sobre {
        padding: 40px 8%;
    }

    section.sobre .container-flex {
        flex-direction: column-reverse;
    }

    section.sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    section .btn-social {
        text-align: center;
    }

    section .img-sobre img {
        width: 100%;
    }

    /* SECTION PORTIFOLIO */

    section.portifolio {
        padding: 80px 8%;
    }

    .container-img-port {
        width: 100%;
    }

    section.portifolio .container-flex {
        gap: 60px;
    }

    /* Rodapé */
    footer .line-footer {
        text-align: center;
    }

}

/* menu mobile */
@media screen and (min-width: 1020px){
    .btn-abrir-menu{
        display: none;
    }
}